<form class="actionkit-widget form-inline compact" name="signup" action="http://act.freepress.net/act/" onsubmit="this.submitted=1;return false">
<input type="hidden" name="page" value="political_ad_sleuths">
<ul>
    <li><label for="id_first_name">First Name:</label> <input value="" id="id_first_name" type="text" name="first_name" /></li>
    <li><label for="id_last_name">Last Name:</label> <input value="" id="id_last_name" type="text" name="last_name" /></li>
    <li><label for="id_email">Email:</label> <input value="" id="id_email" type="text" name="email" /></li>
    <li><label for="id_zip">Zip:</label> <input value="" id="id_zip" type="text" name="zip" /></li>
    <li><label>&nbsp;</label><input type="submit" class='btn' value="Sign Up"></li>
    <li>You will receive periodic updates from Free Press. You may unsubscribe at any time. We respect your <a href="http://www.freepress.net/privacy-copyright">privacy</a>.</li>
</ul>
</form>

<div id="signup-replacement" style="display: none;">Thanks for becoming a Political Ad Sleuth!</div>

<script src="http://act.freepress.net/samples/widget.js"></script>