{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block bodyclass %}about{% endblock bodyclass %}
{% block pagetitle %}About{% endblock pagetitle %}
{% block content %}

<div style="font-size:16px; line-height: 1.5em; margin:0px;">
<h2>About Political Ad Sleuth</h2>
		New campaign finance rules allow outside groups to run political ad without disclosing any details about who funds them. <br /><br />But there is one place where they will leave a paper trail: At the TV stations where they buy their ads. <br /><br />For the first time, the Federal Communications Commission (FCC) has ordered television stations to put their public and political files online. But this year, only stations affiliated with the major networks (NBC, ABC, FOX, CBS) in the top 50 markets will have to put their political files online -- and only beginning August 2.<br /><br /> Political Ad Sleuth is a project dedicated to digitizing and posting online the information available in the &ldquo;political files&rdquo; of all U.S. broadcast stations--those covered by the FCC's rules, and those that aren't.<br />
		<br />
		Despite these files being &ldquo;public,&rdquo; they haven&rsquo;t been easy to reach. And even though some of them are now being put online by the Federal Communications Commissions, they still aren&rsquo;t easy to search. <br />
		<br />
		Sunlight, in partnership with <a href="http://www.freepress.net/">Free Press</a> and other organizations are doing several things to make it easier for the public to gain access to these public files:
		<br /><br />
		-We are scraping the FCC&rsquo;s database of ABC, CBS, NBC and Fox affiliates in the top 50 markets and adding some basic information about them in order to make them easy to search.	<br />
		<br />-We are working to encourage journalists and volunteers to visit the stations not yet required to post their files online and upload copies of those files to this site.	<br />
		<br />-We are building an interface so that journalists and other volunteers can view these files and enter data from them into an easy-to-use database.<br /><br />
		It's a big job! We need all the help we can get. Please volunteer to visit stations that are not part of the top 50 markets and upload their political files. Or do some simple data entry to turn these documents into usable data. Whether you can spare 10 minutes or a few hours, every bit helps.

</div>



{% endblock content %}

