{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block bodyclass %}about{% endblock bodyclass %}
{% block pagetitle %}About{% endblock pagetitle %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        .about p, .about li {
            font-size: 16px;
            line-height: 24px;
        }
        .about p {
            margin-bottom: 24px;
        }
    </style>
{% endblock css %}

{% block content %}
<h2>About Political Ad Sleuth</h2>
        <iframe class="youtube-player" width="560" height="315" src="http://www.youtube.com/embed/Wtpew_aJgQQ?rel=0"></iframe>
        <h5>Unlocking the Secrets Behind Political Advertising</h5>
        <p>Political Ad Sleuth is a project dedicated to collecting and posting the information available in the &ldquo;public files&rdquo; of U.S. broadcast stations on the Internet. This &ldquo;public file&rdquo; includes important information detailing political advertisements sold at the station (known as the &ldquo;political file&rdquo;). Until this year, these records have been kept on paper at stations&rsquo; main studios, where they were required to be available for any member of the public who wanted to inspect them.</p>

       <p>Despite these files being &ldquo;public,&rdquo; they haven&rsquo;t been easy to reach -- rendering them inaccessible to all but the most tenacious members of the public. And even though the Federal Communications Commission now requires some of them to be placed online, they still aren&rsquo;t easy to search. Until now.</p>

        <p>Sunlight and <a href="http://www.freepress.net/">Free Press</a>, in partnership with other organizations, are doing four things to make it easier for the public to gain access to these public files:</p>
        <ol>
            <li>We are scraping the FCC&rsquo;s database of ABC, CBS, Fox and NBC affiliates in the top 50 markets and adding some basic information about them in order to make them easy to search.</li>
            <li>We are working to encourage journalists and volunteers to visit the stations not yet required to post their files online and upload copies of those files to this site.</li>
            <li>We are building an interface so that journalists and other volunteers can look at these files (mostly as PDFs) and enter key data from them into an easy-to-use database.</li>
            <li>The site will make it simple for anyone to look up the data that’s been entered about ad buys in the system, such as money spent by Crossroads GPS or Priorities USA Action.</li>
        </ol>

        <p>The Sunlight Foundation is using Political Ad Sleuth in its own reporting. Read stories on the <a href='http://reporting.sunlightfoundation.com/tag/political%20ad%20sleuth/'>Sunlight Reporting Group blog</a>.</p>

        <h5>FCC and Public Files</h5>

        <p>On Aug. 2, 2012, the FCC began to require some broadcasters to post their political files online. Affiliates of ABC, CBS, Fox and NBC in the top 50 TV markets are now uploading their political files to the FCC&rsquo;s website (stations.fcc.gov). All other stations will start doing the same July 1, 2014.</p>

        <p>Of particular interest to us are the political files. According to FCC rule 73.1943, broadcasters have to maintain files of &ldquo;all requests for broadcast time made by or on behalf of a candidate for public office,&rdquo; as well as notes showing the results of that request &ndash; showing when the ads ran and how much they cost. Stations generally need to update their political files &ldquo;immediately&rdquo; according to the FCC, because of the importance and time-sensitive nature of political ads.</p>

        <p>More here: <a href="https://stations.fcc.gov/about-station-profiles/">https://stations.fcc.gov/about-station-profiles/</a>.</p>

        <p>These files are important because they provide information that is unavailable anywhere else and offer a unique window on when, where and how much money is being spent to influence our votes through political advertising.</p>

        <p>Campaigns and political party spending on television ads is dwarfed by third-party advertisers such as committees, nonprofit organizations, political action committees (PACs) and so-called super PACs. These groups typically purchase &ldquo;issue ads,&rdquo; which don&rsquo;t explicitly advocate for the election or defeat of any political candidate. And, they don&rsquo;t have to report their expenditures, except during short windows leading up to elections (30 days before a primary election; 60 days before a general election). Yet, these organizations spend millions of unreported dollars because they advertise well before these 30- and 60-day windows. And many political committees that are thinly disguised as &ldquo;social welfare organizations&rdquo; don&rsquo;t have to register with the Federal Election Commission at all.</p>

        <p>But the FCC requires any purchaser of political advertising to list the names of the organization&rsquo;s executive, treasurer or board of directors in the station&rsquo;s public files.</p>

        <p>Get Involved. Start Sleuthing.</p>

        <p>So help us help you. <a href="/account/register/">Volunteer</a> to visit stations that are not in the top 50 markets and upload their political files. Or do some simple data entry to turn these documents into usable data. Whether you can spare 10 minutes or a few hours, every bit helps.</p>

        <h5>Methodology</h5>

        <p>In addition to scraping the FCC database, we are working with volunteers around the country to gather and upload political files. Even more volunteers (and staff) are busy parsing the files. But, it&rsquo;s a Herculean task and one that is nearly impossible to execute to perfection.</p>

        <p>Our data entry system is broken up into two parts. First, we try to get &ldquo;top-level&rdquo; information about the ad buys, including:</p>
        <ul>
            <li>The advertiser&rsquo;s name</li>
            <li>The station</li>
            <li>Date range for the ads</li>
            <li>Cost of the buy</li>
        </ul>

        <p>We also ask for a second level of data entry, including the times and cost of each individual spot, among other things.</p>

        <p>Furthermore, ad buys are happening every day at the thousands of stations around the country.</p>

        <p>So, while we work to be as comprehensive as possible, we know &mdash; and you should know &mdash; that our dataset is incomplete.</p>

        <p>That said, we do our best to ensure the quality of the data as entered. However, if you spot an error, we would appreciate your notifying us <a href="mailto:outreach@politicaladsleuth.com">outreach@politicaladsleuth.com</a>. Members of the press can contact the Sunlight Foundation <a href="http://sunlightfoundation.com/press/">here</a> or Free Press at <a href="http://www.freepress.net/press-releases">http://www.freepress.net/press-releases</a>.</p>
{% endblock content %}

