{% extends sfapp_base_template|default:"sfapp/base-sidebar.html" %}{% load static from staticfiles %}
{% block title %}Political Ad Sleuth{% endblock title %}

{% block ga %}XXXXX-XX{% endblock ga %}

{% block head %}    <script src="{% static "js/libs/modernizr-2.5.3.min.js" %}"></script>{% endblock head %}

{% block css %}    <link rel="stylesheet" href="{% static 'css/fcc_main.css' %}">{% endblock css %}

{% block container %}
<header>
    <nav class="clearfix">
        <ul class="account listNav unstyled">
            <li>
                <a href="#feedback">Questions</a>
            </li>
            <li class="first">
                <a href="#map">Get Involved</a>
            </li>
        </ul>        
    </nav>
    <h1 class="textReplace" id="logo">Free the Files</h1>
</header>
{{ block.super }}
{% endblock container %}

{% block js %}<script src="{% static 'js/fcc_site.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>{% endblock js %}