{% extends "fcc-base.html" %}{% load static from staticfiles %}{% load recent_buy_sidebar from sidebars %}
{% block bodyclass %}broadcasters-featured{% endblock bodyclass %}

{% block content %}
<div class="hero-unit module clearfix">
    <div class="span7">
        <h2 id='page-intro'>Search, Upload, Share<br> Political Ad Information</h2>
        <h3>Help us find out who's trying to influence your vote.</h3>
        <div class="featureText">
            <p>Use this site to get the latest information on political ads purchased at television stations around the country. These files provide the only information we have on who's behind some of the shadowy groups pouring money into the election. You can sort it by <a href="/political-files/states/">state</a> and individual <a href="/political-files/dmas/">television market</a> or <a href="http://politicaladsleuth.com/search/">search by date</a>. Some of it we have thanks to ProPublica’s <a href="https://projects.propublica.org/free-the-files/">Free the Files</a>. Note: This information <a href="/about/">is not complete</a> but it is the most comprehensive data available. With your help, we're trying to fill the gaps by getting paper files from TV stations and by <a href="http://politicaladsleuth.com/political-files/needs-entry/">entering data</a>. For information on how you can help, <a href="/account/register/">check here</a>.
        </div>
    </div>
    <div class="span3 featureImg">
        <img src="{% static 'img/img_fccBallot.png' %}" alt="Ballot Box">
    </div>
</div>


{% endblock content %}

{% block js %}
    {{ block.super }}
    {% include "volunteers/_nonuser_profile_form.js" %}
{% endblock js %}