{% extends "fcc-base.html" %}{% load static from staticfiles %}{% load recent_buy_sidebar from sidebars %}
{% block bodyclass %}broadcasters-featured{% endblock bodyclass %}

{% block content %}
<div class="hero-unit module clearfix">
    <div class="span7">
        <h2 id='page-intro'>Who's trying to influence your vote?<br /> Help us find out!</h2>
        <div class="featureText">
            <p>This election year, new campaign finance rules allow outside groups to run political ad without disclosing any details about who funds them. But there is one place where they will leave a paper trail: At the TV stations where they buy their ads.</p><p>Political Ad Sleuth lets you <a href="/fcc/most-recent/">review the latest ad buys</a>, download a <a href="http://politicaladsleuth-assets.s3.amazonaws.com/media/csv/all_ads.csv">csv file</a> of all ad buys filed online, or <a href="{% url state_list %}">browse ad buys by state</a>. The site covers political ads placed by candidates, outside groups and ballot initiatives. Help us unlock the files by <a href="{% url register_volunteer %}">creating an account</a> and <a href="{% url document_submit %}">uploading ad buys</a> or show off your data entry skills by extracting the data from <a href="{% url haystack_search %}?q=unknown&amp;selected_facets=status_exact:Needs%20entry">TV records</a>.
        </div>
        <div class="row">
            <ul id="sponsorLogos" class="floatList">
                <li id="freepress" class="textReplace"><a href="http://www.freepress.net/">Free Press></a></li>
                <li id="newAmerica" class="textReplace"><a href="http://newamerica.net/">New America Foundation></a></li>
<li id="sunlight" class="last textReplace" style="background: url('https://politicaladsleuth-assets.s3.amazonaws.com/static/img/sfapp_logo.png') no-repeat scroll left top transparent; height: 40px; margin-top: 10px; margin-left: 20px; width: 128px;"><a href="http://sunlightfoundation.com/">Sunlight Foundation</a></li>
            </ul>
        </div>
    </div>
    <div class="span3 featureImg">
        <img src="{% static 'img/img_fccBallot.png' %}" alt="Ballot Box">
    </div>
</div>
<div class="row module">
    <div id="get_involved" class="span7">
        <h3 class="withTip">Take Action!</h3>
        <p class="tip">Sign up to unlock the political files and find out who's trying to influence your vote.</p>
        {% include "volunteers/_nonuser_profile_form.html" %}
    </div>
    <div class="span4">
        {% if featured_advertiser_list %}
        <div>
            <h3>Prominent Advertisers</h3>
            <ul class="unstyled">
                <li>
                    {% for advertiser in featured_advertiser_list %}
                    <h5>{{ advertiser.name }}</h5>
                    {% if advertiser.advertiser_politicalbuys.all %}
                    <ul>
                        {% for pb in advertiser.advertiser_politicalbuys.all|slice:":6" %}
                            <li><a href="{{ pb.get_absolute_url }}">{{pb.broadcasters_callsign_list|join:',' }} ({{pb.contract_start_date|date:"SHORT_DATE_FORMAT"}}-{{pb.contract_end_date|date:"SHORT_DATE_FORMAT"}})</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No buys currently recorded.</p>
                    {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        {% endif %}
        <div>
        {% recent_buy_sidebar %}
        </div>

    </div>
</div>

{% endblock content %}

{% block js %}
    {{ block.super }}
    {% include "volunteers/_nonuser_profile_form.js" %}
{% endblock js %}