Django==1.4
mongoengine==0.6.5
pymongo==2.1.1
-e git://github.com/wpjunior/django-mongotools.git@9858ebdf3499d1fb0aff248a48ea039e4fa4afd5#egg=django_mongotools-dev

-e git://github.com/sunlightlabs/sfapp.git@dee5b7aef0335c007ecba31ab0dd762a8e8e9cde#egg=sfapp-dev

# for our deploy
gunicorn==0.12.2