Django==1.4
South==0.7.5
mongoengine==0.6.5
pymongo==2.1.1
-e git://github.com/wpjunior/django-mongotools.git@9858ebdf3499d1fb0aff248a48ea039e4fa4afd5#egg=django_mongotools-dev

-e git://github.com/sunlightlabs/sfapp.git@c552ed79818c23ebda15c3a4640146f4c941509c#egg=sfapp-dev

boto==2.5.1
django-storages==1.1.4

python-dateutil==1.5
python-documentcloud==0.154
django-extensions==0.8
-e hg+https://bitbucket.org/schinckel/django-timedelta-field@0ca08518d3eb60f9a5168b3279dcca1913f6b1f0#egg=django_timedeltafield-0.6.2
-e hg+https://bitbucket.org/schinckel/django-weekday-field@f075f68d54dfe5f4a532b3819c7048a1acc42bc9#egg=django_weekday_field-dev
-e git://github.com/sunlightlabs/django-doccloud.git@d0e2b2156770e4a191f2c7857be83dd86d88194a#egg=django_doccloud-dev
django-reversion==1.6.0
django-ajax-selects==1.2.4
