Django==1.4
mongoengine==0.6.5
pymongo==2.1.1
-e git://github.com/wpjunior/django-mongotools.git@9858ebdf3499d1fb0aff248a48ea039e4fa4afd5#egg=django_mongotools-dev

-e git://github.com/sunlightlabs/sfapp.git#egg=sfapp-dev

python-dateutil==1.5
python-documentcloud==0.154
django-extensions==0.8
-e git://github.com/BayCitizen/django-doccloud.git@a876b9632297b07c67d853c3cca279e2e01307b4#egg=django_doccloud-dev
