{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify static %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
<style type="text/css" media="screen">
    #content {
        min-width: 960px;
    }
    .documentcloud_embed {
        display:block;
        position: relative;
        float: right;
        width: 580px;
        height: 780px;
        background-color: #bfbfbf;
    }
    #content-main > form {
        width: 644px;
    }

    fieldset .field-box {
        margin-bottom: 5px;
        margin-right: 30px;
    }

    .inline-group .aligned label {
        width: 8.5em;
    }
    
    div.field-airing_days ul {
        padding-left: 15px;
        margin-left: 9em;
    }
    div.field-airing_days li {
        list-style-type: none;
        display: block;
        margin-right: 10px;
    }
    div.field-airing_days li input {
        vertical-align: bottom;
    }
</style>
{% endblock %}


{% if not is_popup %}
{% block breadcrumbs %}{{ block.super }}{% endblock %}
{% endif %}

{% block content %}<div id="content-main" class="clearfix">
{% block object-tools %}{{ block.super }}{% endblock %}
<div class="documentcloud_embed">
    {% include "doccloud/_documentcloud_embed.html" with document=original.documentcloud_doc width=580 height=780 %}
</div>
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{{ block.super }}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{{ block.super }}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}{{ block.super }}{% endblock %}

{% block after_field_sets %}{{ block.super }}{% endblock %}

{% block inline_field_sets %}{{ block.super }}{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{{ block.super }}{% endblock %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}

{% block footer %}
{{ block.super }}
<script src="{% static 'admin/js/fccpublicfiles_admin.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock footer %}
