<h3>{{ broadcaster.callsign }} {# {% if broadcaster.addresses.studio.pos %}<i class="icon-map-marker"></i>{% endif %} #}</h3>
<address class="vcard">
    <span class="adr">
        {% if broadcaster.addresses.studio.address1 %}
            <p class="postal-code street">{{ broadcaster.addresses.studio.address1|title }}
            </p>
        {% endif %}
        {% if broadcaster.addresses.studio.address2 %}
            <p class="street">{{ broadcaster.addresses.studio.address2|title  }}</p>
        {% endif %}
        <span class="locality city">{{ broadcaster.addresses.studio.city|title  }}</span>, 
        <span class="region state">{{ broadcaster.addresses.studio.state }}</span>
        <span class="postal-code zipcode">{{ broadcaster.addresses.studio.zip }}</span>
    </span>
</address>