<form id="map_form" class="form-inline compact boxCallout" action="#map_form" method="get" accept-charset="utf-8">
    <ul class="clearfix">
        <li>
            <label>Address</label>
            <input type="text" name="address" id="address" class="span4" value="" placeholder="Street Address" required="required" size="75">
        </li>
        <li>
            <label>City</label>
            <input type="text" class="input-medium" name="city" placeholder="City" value="" id="city">
        </li>
        <li>
            <label class="hidden">State</label>
            <label id="state">{{ state_name }}</label>
        </li>
        <li>
            <label>Radius</label>
            <select  name="radius" id="radius" class="span2">
                <option value="10">10 miles</option>
                <option value="25" selected>25 miles</option>
                <option value="50">50 miles</option>
                <option value="100">100 miles</option>
                <option value="200">200 miles</option>
            </select>
        </li>
        <li class="last">
            <button class="btn btn-sunlight">Search</button>
        </li>
    </ul>
</form>