{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block bodyclass %}broadcasters{% endblock bodyclass %}
{% block content %}
    <h2>{{ state_name }} ({{ broadcaster_list|length }} stations)</h2>
    <div>
        <p>Find stations near you! Use this form to search for TV stations within a search radius. This will return a list of stations ordered by distance (as the crow flies). Actual driving distance will vary.</p>
        {% include 'broadcasters/_map_searchform.html' %}

    </div>
    <div id="map-box">
        <div id="map_canvas" style="width:100%; height:100%"></div>
    </div>
{% endblock content %}

{% block sidebar %}
<div id="stations">
    <ul class="withLine" id="locations"></ul>
</div>
{% endblock sidebar %}

{% block head %}
    {{ block.super }}
    {% include "broadcasters/_googlemaps_script_include.html" %}
{% endblock head %}

{% block js %}
    {{ block.super }}
    <script>
        var startPos = {{ broadcaster_list.0.addresses.1.pos|default:"[0,0]" }};
        var initialLocations = [
            {% for broadcaster in broadcaster_list %}{{ broadcaster.as_json|safe }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        var userMarker_url = "{% static 'img/sll_map_marker_purple.png' %}";
        var stationMarker_url = "{% static 'img/sll_map_marker_blue.png' %}";
        $(document).ready(function() {
            if (!("autofocus" in document.createElement("input"))) {
                  $("#address").focus();
            }
            if(!Modernizr.inputtypes.number) {
                
            }
        });
        
    </script>
    <script src="{% static 'js/map_stations.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock js %}