{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block bodyclass %}broadcasters-featured{% endblock bodyclass %}

{% block content %}
<nav>
    <ul class="nav nav-pills">
        <li>
            <a href="#page-intro">Intro</a>
        </li>
        <li>
            <a href="#map">Find Stations</a>
        </li>
        <li>
            <a href="#get_involved">Get Involved</a>
        </li>
        <li>
            <a href="#feedback">Questions</a>
        </li>
    </ul>        
</nav>
<section class="row">
    <div class="span8">
        <h2 id='page-intro'>Intro</h2>
        <p>
            With the emergence of Super PACs and the flood of dark money, voters are ever more susceptible to the influence of political spending and advertisements. For the first time, the Federal Communication Commission (FCC) has ruled to require television stations in the top 50 media markets to put their public and political files online. These files contain information on political ad spending which are crucial to the public interest, providing a glimpse into the political influence wielded by groups trying to sway our elections. But the top 50 media markets hardly cover the country and only a fraction of the swing states, where the majority of political ad spending will occur. We need your help to unlock the files from the rest of the broadcasters and post the information from the political ad files online.
        </p>
 
        <p>
            Sunlight Foundation in partnership with Free Press, New America Foundation and other coalition members are working with our members, volunteers, journalists and allies across the country to inspect political files and post our findings online. As a pilot project, we will focus on Wisconsin’s gubernatorial election on June 5th. Sign up for a training or search for a tv station near you.
        </p>        
    </div>
    <div class="span4 sidebar">
        <div class='inner'>
            <h3>Resources</h3>
            <ul class='resources unstyled'>
                <li>
                    <p><a href='http://www.freepress.net/how-to-inspect-public-political-files'>How to inspect public political files</a></p>
                    <p>This handy how-to guide provides step-by-step information on how to free the files from your local boardcaster. (<a href="http://www.freepress.net/files/publicfiles-howto.pdf">pdf version</a>)</p>
                </li>
                <li>
                    <p><a href='http://www.freepress.net/files/publicfiles-checklist.pdf'>Public Files Inspection Checklist</a></p>
                    <p>Ready to go to the station? Print this checklist and the <a href='{% static 'files/public_and_broadcasting_fcc_excerpt.pdf' %}'>political files excerpt</a> from FCC’s manual and bring it with you.</p>
                </li>
                <li>
                    <p><a href='{% static 'files/FCC_public_files_excerpt.pdf' %}'>Excerpt from 'The Public &amp; Broadcasting'</a></p>
                    <p>Excerpt from FCC’s manual </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="map" class="row">
    <div class="span12">
        <h2>Find Nearby Stations: {{ state_name }}</h2>    
        <p>Find stations near you! Use this form to search for TV stations within a search radius. This will return a list of stations ordered by distance (as the crow flies). Actual driving distance will vary.</p>
        {% include 'broadcasters/_map_searchform.html' %}
    </div>
    <div class="span8">
        <div id="map-box">
            <div id="map_canvas" style="width:100%; height:100%"></div>
        </div>

    </div>
    <div class="span4">
        <div id="stations">
            <ul id="locations"></ul>
        </div>
        
    </div>
</section>
<section id="get_involved">
    <h2>Get involved!</h2>
    <form id='action_signup' class='form-inline' action="{% url action_signup %}" method="post" accept-charset="utf-8">
        <fieldset>
        {% csrf_token %}
        <div class="control-group">
            <div class="controls">
                <input type="email" name="email" value="" placeholder="Email" required="required">
                <input type="text" name="firstname" value="" placeholder="First Name" id="firstname">
                <input type="text" name="lastname" value="" id="lastname" placeholder="Last Name">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="text" name="phone" value="" placeholder="Phone" id="phone">
                <label>
                    Callsign 
                    <select name="station" id="station" size="1"></select>
                </label>
                
            </div>
        </div>
        <input type="submit" class="btn" value="Sign up &rarr;">
        </fieldset>
    </form>
</section>
<section id="feedback">
    <h2>Questions, Comments, Etc.</h2>
    <p>Help us make the project better! Errors with the station addresses? Issues at the TV stations? Any questions or comments? Let us know:</p>
</section>
{% endblock content %}

{% block head %}
    {{ block.super }}
    {% include "broadcasters/_googlemaps_script_include.html" %}
{% endblock head %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/map_stations.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        var startPos = {{ broadcaster_list.0.addresses.1.pos|default:"[0,0]" }};
        var locations = [
            {% for broadcaster in broadcaster_list %}{{ broadcaster.as_json|safe }}{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        var userMarker_url = "{% static 'img/sll_map_marker_purple.png' %}";
        var stationMarker_url = "{% static 'img/sll_map_marker_blue.png' %}";
        $(document).ready(function() {
            $('#action_signup').submit(function(event) {
                var theform = $(this);
                var data = theform.serialize();
                jQuery.post("{% url action_signup %}",data, function(resp, textStatus) {
                    var $p = $('<p class="alert alert-success">').text(resp.message).hide();
                    theform.slideUp('fast', function() {
                        theform.after($p);
                        $p.slideDown();
                    });
                });
                event.preventDefault();
                return false;
            });
            
            var station_sel = $('select#station');
            station_sel.empty();
            station_sel.append('<option value="">-----------</option>');
            for (var i=0; i < locations.length; i++) {
                var opt = $('<option></option>').text(locations[i].callsign).attr('value', locations[i].callsign)
                station_sel.append(opt);
            };
            
        });
        
    </script>
{% endblock js %}
