{% if document_slug %}
<div id="viewer-{{ document_slug }}"></div>
<script src="http://s3.documentcloud.org/viewer/loader.js"></script>
<script>
    DV.load("https://www.documentcloud.org/documents/{{ document_slug }}.js", 
        { 
            width: {{ width|default:400 }},
            height: {{ height|default:575 }},
            zoom: '{{ zoom|default:"auto" }}',
            container : "#viewer-{{ document_slug }}",
            showSidebar: false
        });
</script>
{% else %}
<!-- No documentcloud document to embed -->
{% endif %}