{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block pagetitle %}Add {{ field }}{% endblock pagetitle %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
{% endblock head %}

{% block bodyclass %}minimal content{% endblock bodyclass %}

{% block container %}
    <h2>Add {{ field }}</h2>
    <form method="POST" class="form-horizontal" action=".">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <ul>
        {% for field in form.visible_fields %}
            <li>
                <label>{{field.label}}</label>
                {{field}}
                {% if field.errors %}
                {{field.errors}}
                {% endif %}
                <p class="tip">{{field.help_text}}</p>
            </li>
        {% endfor %}
            <li><button class="btn btn-sunlight" value="Submit">Submit</button> | <a class="btn" href="javascript:window.close()">Cancel</a></li>
        </ul>
    </form>
{% endblock container %}
{% comment %}
So maybe this shouldn't inhetid from fcc-base.html but some minimal other template.
{% endcomment %}