{% extends "fcc-base.html" %}{% load static from staticfiles %} {% load fccpublicfiles_extras kwacros %}{% load humanize %}
{% block pagetitle %}{{ advertiser.advertiser_name }} {% endblock pagetitle %}

{% kwacro share_base_text %}{{ advertiser.advertiser_name }} on Political Ad Sleuth{% endkwacro %}

{% block og_title %}{% usekwacro share_base_text %} from Sunlight Foundation & Free Press{% endblock og_title %}
{% block tweet_text %}{% usekwacro share_base_text %} from @sunfoundation @freepress #freethefiles{% endblock tweet_text %}

{% block content %}
    <div id="headerFloat" class="clearfix">

        <h2 class="withTip"><small class="clearfix">Advertiser:</small> {{ advertiser.advertiser_name }}</h2>

    </div>
    <div class="row module">
	<p class="tip">TV Stations aren't required to identify advertisers in a regular way; the totals here reflect ads that we've been able to associate with top known advertising groups.</p>
        <div id="buyData" class="span5">
            <dl class="moduleSm floatedList clearfix stationProfile">
				<dt>Candidate:</dt><dd>{% if advertiser.candidate_name %}{{ advertiser.candidate_name}}{% else %}None{% endif %}</dd>
				<dt>Total Filings</dt><dd>{{ advertiser.num_buys}}</dd>
				<dt>Toal Markets</dt><dd>{{ advertiser.num_dmas}}</dd>
				<dt>Top recent market</dt><dd>{% if top_market_summary %}{{ top_market_summary.nielsen_dma }}{% endif %}</dd>
            </dl>
        </div>
        <div id="internalLinks" class="span2 sideCallout">

			<b>More Information</b>
           <ul class="unstyled">
			{% if advertiser.ad_hawk_url %}<li style="margin-top:5px;">Watch ads on <a href="http://adhawk.sunlightfoundation.com{{ advertiser.ad_hawk_url }}">Ad Hawk</a></li>{% endif %}
			{% if advertiser.ftum_url %}<li style="margin-top:5px;">See spending on <a href="{{ advertiser.ftum_url}}">Follow the Unlimited Money</a></li>{% endif %}	
			<li style="margin-top:5px;">Jump to <a href="#ad-list">recent ads</a></li>
				<!--
                {% if obj.advertiser.fec_id != '' %}
                <li><p id='fec_id'><a href="http://reporting.sunlightfoundation.com/outside-spending/committee/{{obj.advertiser.name|slugify}}/{{ obj.advertiser.fec_id }}/">Follow the Unlimited Money Profile</a></p>
                {% else %}
                <li><p><a href="http://reporting.sunlightfoundation.com/outside-spending/search/?q={{obj.advertiser.name|urlencode}}">Search for {{obj.advertiser.name }}</a> on Follow the Unlimited Money</p>
                {% endif %}
-->
            </ul>
        </div>
    </div>
    <div class="module">
		
		<h3 id="market_summary">Market summary - filings in the last 7 days</h3>
		<p class="tip">This is a count of all known documents filed in the last 7 days.  <b>It is not a count of how many ads appeared in these markets!</b></p>
		
		
		<table class="table table-striped tablesorter sortable" id="ad-data">
			<thead>
		        <tr>
		            <th>Market Name</th>
					<th>Number of recent filings</th>
		       </tr>
		    </thead>
		    <tbody>
			{% for market in market_summary %}
					<tr>
						<td><a href="/political-files/dma/{{ market.dma_id }}/">{{ market.nielsen_dma }}</a></td>
						<td>{{ market.market_total }}</td>
					</tr>
			{% endfor %}
			</tbody>
		</table>
        
		
		<h3 id="most_recent">Documents filed in the last 7 days</h3>
		<p class="tip">Found {{ count }} documents.</p>
		
		<div id="pager" class="pager clear" style="margin-top:0px; margin-bottom:0px;">
		    <span class="pagedisplay tip withTip"></span>
		    <ul class="unstyled form-inline form-vertical pagerDetails clearfix">
		        <li>
		            <label>Showing results {{this_page.start_index}}-{{this_page.end_index}}</label>

		        </li>
		        <li id="btnFirst"><a href="?page=1" class="first textReplace" title="Go to first page of results">First</a></li>
		        <li id="btnPrev"><a href="?page={{this_page.previous_page_number}}" class="prev textReplace" title="Go to previous page of results">Prev</a></li>
		        <li id="btnNext"><a href="?page={{this_page.next_page_number}}" class="next textReplace" title="Go to next page of results">Next</a></li>
		        <li id="btnLast"><a href="?page={{last_page}}" class="last textReplace" title="Go to last page of results">Last</a></li>
		    </ul>
		</div>
		
		<table class="table table-striped" id="ad-list">
			<thead>
		        <tr>
		            <th>TV Station</th>
					<th>TV Market</th>
					<th>Status</th>
					<th>Date</th>
					<th></th>
		       </tr>
		    </thead>
		    <tbody>
					{% for filing in this_page.object_list %}
					<tr>
						<td><a href="{{ filing.get_station_url }}">{{ filing.broadcaster_callsign }}</a></td>
						<td><a href="{{ filing.get_dma_url }}">{{filing.nielsen_dma}}</a></td>
						<td>{{ filing.doc_status }}{% ifequal filing.doc_status 'Needs entry' %}<br><a href="{{ filing.get_edit_url }}">enter this ad</a>{% endifequal %}</td>
						<td>{{filing.date_display}}</td>
						<td><a href="{{filing.get_absolute_url}}">see filing</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

    </div>

{% endblock content %}


{% block js %}
    {{ block.super }}
	<script type="text/javascript" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/site/4.0/scripts/gigya.min.js"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.widgets.min.js' %}"></script>
    <script type="text/javascript">

    $(document).ready(function()
        {
            $("#ad-data").tablesorter( {sortList: [[1,1]]} );
        }
    );
    </script>
{% endblock js %}
