{% extends "fcc-base.html" %}{% load static from staticfiles %}{% load kwacros %}
{% block bodyclass %}states{% endblock bodyclass %}
{% block pagetitle %}Find recent FCC political ad filings by {{ geography_name }}{% if subgeography %} in {{subgeography}}{% endif %}{% endblock pagetitle %}

{% kwacro share_base_text %}See recently added political ad filings by {{ geography_name }}{% if subgeography %} in {{subgeography}}{% endif %} on Political Ad Sleuth{% endkwacro %}

{% block og_title %}{% usekwacro share_base_text %} from Sunlight Foundation & Free Press{% endblock og_title %}
{% block tweet_text %}{% usekwacro share_base_text %} via @sunfoundation @freepress #freethefiles{% endblock tweet_text %}

{% block content %}
<h2>Find recent FCC political ad filings by {{ geography_name }}{% if subgeography %} in {{subgeography}}{% endif %}</h2>
{% include "_subnav.html" %}

<p class="tip">{% include "_data_disclaimer_short.html" %}<br />Click on a {{ geography_name }} name to see filings there.</p>

{% include "_download_button.html" %}
<table class="table table-striped">
	<thead>
        <tr>
            <th>{{ geography_name|upper }}</th>
            <th>LOCATION</th><th>TV MARKET</th><th>MANDATED<a href="#mandated">*</a></th>
        </tr>
    </thead>
    <tbody>
	{% for geography in geography_list %}
	<tr><td><a href="/political-files/tv-station/{{ geography.callsign }}/">{{geography.geography_name}}</a></td><td>{{ geography.location1|upper}}</td><td>{{ geography.location2}}</td><td>{% if geography.is_mandated %}Yes{% else %}No{% endif %}</td></tr>
{% endfor %}
	</tbody>
</table>
{% include "_mandated_explanation.html" %}
{% endblock content %}