{% extends "fcc-base.html" %}{% load static from staticfiles %}{% load humanize %}
{% block bodyclass %}broadcaster-detail{% endblock bodyclass %}
{% block pagetitle %}Political Ad Buys at {{ obj.broadcaster.callsign }} {% endblock pagetitle %}

{% include "gigya_div.html" with gigya_url=obj.broadcaster.get_absolute_url tweet_text='Political Buy Tweet' %}


{% block content %}
    <div id="headerFloat" class="clearfix noFloat">
        <h2 class="withTip">{{ obj.broadcaster.callsign }}</h2>
    </div>
	<div class="module">
        <dl class="moduleSm floatedList clearfix stationProfile">
            <dt class="hidden">FCC Station Profile:</dt> <dd><a href="{{ obj.broadcaster.fcc_profile_url }}" title="{{ obj.broadcaster.callsign }}'s FCC TV Station profile">View FCC Station profile</a></dd>
            <dt class="clear">Network:</dt> <dd>{{obj.broadcaster.network_affiliate}}</dd>
            <dt>Channel:</dt> <dd>{{obj.broadcaster.channel}}</dd>
            <dt>Community served:</dt> <dd>{{obj.broadcaster.community_city}}, {{obj.broadcaster.community_state}}</dd>
    		{# Only show an address if we have a studio address #}
    		{% if studio_address %}<dt>Studio address:</dt> <dd>{{ studio_address.address }}</dd>{% endif %}
    	</dl>

        {% if obj_json and obj.address.lng %}
            <div id="map-box">
                <div id="map_canvas" style="width:100%; height:100%"></div>
            </div>
        {% endif %}
    </div>
	<div>
	    <h3>Political Buys</h3>
        {% if ad_buys %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Advertiser</th>
                    <th>Total Spent</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                {% for politicalbuy in ad_buys %}
                <tr>
                    <td><a href="{{ politicalbuy.get_absolute_url }}" title="">{{ politicalbuy.advertiser }}</a></td>
                    <td>{% if politicalbuy.total_spent %}${{ politicalbuy.total_spent|intcomma }}{% else %}N/A{% endif %}</td>
                    <td>{{ politicalbuy.contract_start_date }}</td>
                    <td>{{ politicalbuy.contract_end_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No ad buys currently received for this station.</p>
        {% endif %}
    </div>


{% endblock content %}



{% block head %}
    {{ block.super }}
    {% include "broadcasters/_googlemaps_script_include.html" %}
{% endblock head %}



{% block js %}
    {{ block.super }}
    {% if obj_json and obj.address.lng %}
    <script src="{% static 'js/map_stations.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        var startPos = {% if obj.address %}[{{ obj.address.lng }},{{ obj.address.lat }}]{% else %}null;{% endif %}
        var initialLocations = [
            {{ obj_json|safe }}
        ];
        var mapMaxZoom = undefined;
        var userMarker_url = "{% static 'img/sll_map_marker_purple.png' %}";
        var stationMarker_url = "{% static 'img/sll_map_marker_blue.png' %}";
        /*
            Get to the action.
        */
        jQuery(document).ready(function() {
            try {
                SLF.updateMapApp();
            }
            catch (e) {
                if (SLF.DEBUG) window.log(e);
            }
        });
    </script>
    {% endif %}
	<script type="text/javascript" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/site/4.0/scripts/gigya.min.js"></script>
{% endblock js %}
