{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block bodyclass %}states{% endblock bodyclass %}
{% block pagetitle %}Find recent FCC political ad filings by {{ geography_name }}{% if subgeography %} in {{subgeography}}{% endif %}{% endblock pagetitle %}
{% block content %}
<h2>Find recent FCC political ad filings by {{ geography_name }}{% if subgeography %} in {{subgeography}}{% endif %}</h2>
{% include "_subnav.html" %}

<p class="tip">Only stations required by the FCC to put their political files online are included. Click on a {{ geography_name }} name to see filings there.</p> 

<a id="downloadBtn" class="btn" href="http://politicaladsleuth-assets.s3.amazonaws.com/media/csv/all_ads.csv">Download CSV</a>	
<table class="table table-striped">
	<thead>
        <tr>
            <th>{{ geography_name|upper }}</th>
            <th>LOCATION</th><th>TV MARKET</th><th>MANDATED REPORTER?</th>
        </tr>
    </thead>
    <tbody>
	{% for geography in geography_list %}
	<tr><td><a href="/political-files/tv-station/{{ geography.callsign }}/">{{geography.geography_name}}</a></td><td>{{ geography.location1|upper}}</td><td>{{ geography.location2}}</td><td>{% if geography.is_mandated %}Yes{% else %}No{% endif %}</tr>
{% endfor %}
	<tbody>
</table>

{% endblock content %}