{% extends "fcc-base.html" %}{% load static from staticfiles %}{% load updatetime from update %}{% load kwacros %}
{% block bodyclass %}states{% endblock bodyclass %}
{% block pagetitle %}Recent political ad filings {{ preposition }} {{ geography_name }}{% endblock pagetitle %}

{% kwacro share_base_text %}See recent political ad filings {{ preposition }} {{ geography_name }} on Political Ad Sleuth{% endkwacro %}

{% block og_title %}{% usekwacro share_base_text %} from Sunlight Foundation & Free Press{% endblock og_title %}
{% block tweet_text %}{% usekwacro share_base_text %} {{request.build_absolute_uri}} via @sunfoundation @freepress #freethefiles{% endblock tweet_text %}

{% block content %}
<h2 class="clearfix">Political ad filings {{ preposition }} {{ geography_name }}</h2>
{% include "_subnav.html" %}

<p class="tip">{% include "_data_disclaimer_short.html" %}<br />Found {{count}} filings{% if broadcaster %} at {{broadcaster }}{% endif %}. {% updatetime %}.</p>
<a id="downloadBtn" class="btn" href="http://politicaladsleuth-assets.s3.amazonaws.com/media/csv/all_ads.csv">Download CSV</a>

<table class="table table-striped">
	<thead>
        <tr>
            <th>TV Station</th>
			<th>State</th>
			<th>TV Market</th>
			<th>Date</th>
			<th>Type</th>
			<th>Advertiser/File Info</th>
			<th>File source</th>
        </tr>
    </thead>
    <tbody>
	{% for filing in filings %}
	<tr>
		<td><a href="{{ filing.get_station_url }}">{{ filing.broadcaster_callsign }}</a></td>
		<td><a href="{{ filing.get_state_url }}">{{filing.community_state}}</a></td>
		<td><a href="{{ filing.get_dma_url }}">{{filing.nielsen_dma}}</a></td>
		<td>{{filing.date_display}}</td>
		<td>{{ filing.candidate_type }}</td>
		<td><a href="{{filing.get_absolute_url}}">{% if filing.advertiser_display_name %}{{filing.advertiser_display_name }}{% else %}Unknown Advertiser{% endif %}</a></td>
		<td>{% if filing.is_FCC_doc %}FCC{% else %}submission{% endif %}</td>
	</tr>
{% endfor %}
	</tbody>
</table>

{% endblock content %}