{% extends "fcc-base.html" %}{% load static from staticfiles %}{% load updatetime from update %}{% load kwacros %}
{% block bodyclass %}states{% endblock bodyclass %}
{% block pagetitle %}Find political ad filings by {{ geography_name }}{% if subgeography %} in {{subgeography}}{% endif %}{% endblock pagetitle %}

{% kwacro share_base_text %}See political ad filings by {{ geography_name }}{% if subgeography %} in {{subgeography}}{% endif %} on Political Ad Sleuth{% endkwacro %}

{% block og_title %}{% usekwacro share_base_text %} from Sunlight Foundation & Free Press{% endblock og_title %}
{% block tweet_text %}{% usekwacro share_base_text %} via @sunfoundation @freepress #freethefiles{% endblock tweet_text %}

{% block content %}
<h2>Find political ad buys by {{ geography_name }}{% if subgeography %} in {{subgeography}}{% endif %}</h2>
{% include "_subnav.html" %}

<p class="tip">{% include "_data_disclaimer_short.html" %}<br />Click on a {{ geography_name }} name to see filings there. {% updatetime %}.</p>
{% include "_download_button.html" %} 
<table class="table table-striped tablesorter sortable" id="ad-data">
    <thead>
        <tr>
            <th>{{ geography_name|upper }}</th>
            <th>Stations mandated<a href="#mandated">*</a></th>
            <th>All ad filings</th>
            <th>Non-candidates</th>
            <th>President</th>
            <th>Senate</th>
            <th>US House</th>
            <th>State</th>
            <th>Local</th>
        </tr>
    </thead>
    <tbody>
    {% for geo in geography_list %}
    <tr>
        <td><a href="{{ geo.get_absolute_url}}">{{geo.name|safe}}</a><br>see <a href="{{ geo.get_station_url }}">all stations</a></td>
        <td> {{geo.num_mandated_broadcasters}} of {{geo.num_broadcasters}}</td>
        <td> {{geo.tot_buys}}</td>
        <td> {{geo.outside_buys}}</td>
        <td> {{geo.pres_buys}}</td>
        <td> {{geo.sen_buys}}</td>
        <td> {{geo.house_buys}}</td>
        <td> {{geo.state_buys}}</td>
        <td> {{geo.local_buys}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% include "_mandated_explanation.html" %}

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.widgets.min.js' %}"></script>
    <script type="text/javascript">

    $(document).ready(function()
        {
            $("#ad-data").tablesorter( {sortList: [[2,1]]} );
        }
    );
    </script>
{% endblock %}