<div class="social-icons share-buttons"
     data-gigya="auto"
     data-services="twitter-tweet, facebook-like"
     data-options="title={% if tweet_text %}{{ tweet_text|urlencode }}{% else %}Political%20Ad%20Sleuth.{% endif %}&amp;linkBack=http%3A%2F%2Fpoliticaladsleuth.sunlightfoundation.org{% if gigya_url %}{{gigya_url}}{% endif %}&amp;size=16&amp;showCounts=right"
     data-twitter-tweet-options="via=sunfoundation"
     data-facebook-like-options="width=100&amp;colorscheme=light&amp;show-faces=false&amp;layout=button_count">
</div>