{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block pagetitle %}Edit a Political Buy{% endblock pagetitle %}

{% block head %}
<script src="{% static "js/libs/modernizr-2.5.3.min.js" %}"></script>
<script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
<style type="text/css" media="screen">
    .documentcloud_embed {
        width: 500px;
        height: 720px;
        background-color: #bfbfbf;
        float: right;
    }
</style>
{% endblock head %}


{% block content %}
<div style="display:block; height: 1200px;">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form enctype="multipart/form-data" method="post" action="." style="display: block; float: left">
        {% csrf_token %}
        {{ form }}
        <p>
        <button class="btn btn-sunlight" value="Submit">Submit</button>
        </p>
    </form>
    {% if mymodel.documentcloud_doc %}
    <div class="documentcloud_embed">
        {% include "doccloud/_documentcloud_embed.html" with document=mymodel.documentcloud_doc width=580 height=780 %}
    </div>
    {% endif %}
</div>

{% endblock content %}

{% block sidebar %}
{% endblock sidebar %}

{% block js %}
    <script src="{% static "js/fcc_site.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock js %}
