{% extends "fcc-base.html" %}{% load static from staticfiles %} {% load fccpublicfiles_extras kwacros %}
{% block pagetitle %}Political Buy {% if obj.advertiser %}for {{ obj.advertiser }}{% endif %} :: {{ obj.broadcasters.all|join:", " }}{% endblock pagetitle %}

{% kwacro share_base_text %}{% if obj.advertiser.name %}I just learned {{obj.advertiser.name}} bought ads{% else %}I just learned about this paid ad{% endif %} on {{ obj.broadcasters_callsign_list|join:", " }} via Political Ad Sleuth{% endkwacro %}

{% block og_title %}{% usekwacro share_base_text %} from Sunlight Foundation & Free Press{% endblock og_title %}
{% block tweet_text %}{% usekwacro share_base_text %} from @sunfoundation @freepress #freethefiles{% endblock tweet_text %}

{% block content %}
    <div id="headerFloat" class="clearfix">

		{% if message %}
	    <div class="messages alert fade in">
	        <button type="button" class="close" data-dismiss="alert">x</button>
	        <ul>
	            <li>{{ message }}
				</li>
	        </ul>
	    </div>
		{% endif %}

        <h2 class="withTip"><small class="clearfix">Political Buy:</small> {{ obj.advertiser|default:"" }}</h2>
        <p class="editBtn"><a id="enter_button" class="btn clear" title="Enter details about this ad buy" href="{{ obj.get_edit_url }}">Enter Ad Data!</a></p>
    </div>
    <div class="row module">
        <div id="buyData" class="span5">
            <dl class="moduleSm floatedList clearfix stationProfile">
				<dt>File Source:</dt><dd>{% if obj.is_FCC_doc %}<a href="https://stations.fcc.gov/">FCC site</a>{% else %}Submission{% endif %}</dd>
				{% if obj.is_FCC_doc %}
				<dt>Ad Type:</dt><dd>{{ obj.related_FCC_file.ad_type}}</dd>
				<dt>File Location:</dt><dd><a href="{{obj.related_FCC_file.raw_url }}">{% for folder in obj.related_FCC_file.path %}/{{folder }}{% endfor %}</a></dd>
				{% endif %}
                <dt>Stations:</dt>
                <dd>{% for broadcaster in obj.broadcasters.all %}
                <a href="{% url broadcaster_politicalbuys_view callsign=broadcaster.callsign %}">{{ broadcaster.callsign }}, Channel {{ broadcaster.channel }}</a>{% endfor %}</dd>
                <dt class="clear">Contract:</dt>
                <dd>{{obj.contract_start_date}} - {{ obj.contract_end_date }}</dd>
                <dt class="clear">Total Spent:</dt>
                <dd>{% if obj.total_spent %}${{ obj.total_spent }}{% else %}Unknown{% endif %}</dd>
                <dt class="clear">Number of Ad Spots:</dt>
                <dd>{{obj.num_spots_raw|default:"Unknown" }}</dd>
            </dl>
        </div>
        <div id="internalLinks" class="span2 sideCallout">

			<b>More Information</b>
			{% if obj.related_FCC_file %}
           <ul class="unstyled">
				<!--
                {% if obj.advertiser.fec_id != '' %}
                <li><p id='fec_id'><a href="http://reporting.sunlightfoundation.com/outside-spending/committee/{{obj.advertiser.name|slugify}}/{{ obj.advertiser.fec_id }}/">Follow the Unlimited Money Profile</a></p>
                {% else %}
                <li><p><a href="http://reporting.sunlightfoundation.com/outside-spending/search/?q={{obj.advertiser.name|urlencode}}">Search for {{obj.advertiser.name }}</a> on Follow the Unlimited Money</p>
                {% endif %}
-->
                <li><p><a href="{{obj.related_FCC_file.raw_url }}">Original Document</a></p></li>
            </ul>
		{% endif %}
        </div>
    </div>
    <div class="module">
        <h3>Ad Spots Purchased by {{ obj.advertiser|default:"" }}</h3>
        <!-- <a id="downloadBtn" class="btn clear" href="#">Download CSV</a> -->
        <div id="pager" class="pager clear">
            <span class="pagedisplay tip withTip"></span>
            <ul class="unstyled form-inline form-vertical pagerDetails clearfix">
                <li>
                    <label>Results per page</label>
                    <select class="pagesize">
                        <option value="10">10</option>
                        <option selected="selected" value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </li>
                <li id="btnFirst"><a href="#" class="first textReplace">First</a></li>
                <li id="btnPrev"><a href="#" class="prev textReplace">Prev</a></li>
                <li id="btnNext"><a href="#" class="next textReplace">Next</a></li>
                <li id="btnLast"><a href="#" class="last textReplace">Last</a></li>
            </ul>
        </div>
        {% if obj.politicalspot_set.all %}
        {% include '_politicalspots_table.html' with politicalspot_list=obj.politicalspot_set.all %}
        {% endif %}
    </div>
    <div class="row">
        <div class="span12">
            <h3 id="original_document">Original Document</h3>
            <div class="documentcloud_embed">
			{% if obj.is_FCC_doc %}
				{% if obj.related_FCC_file.dc_slug %}
            		{% include "_FCC_documentcloud_embed.html" with document_slug=obj.related_FCC_file.dc_slug width=940 height=768 %}
				{% else %}
					This document isn't available on document cloud--instead see <a href="{{obj.related_FCC_file.raw_url }}">the original file at the FCC</a>.
				{% endif %}
			{% else %}
            	{% include "doccloud/_documentcloud_embed.html" with document=obj.documentcloud_doc width=940 height=768 %}
			{% endif %}
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.widgets.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.pager.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sort_table.js' %}"></script>
	<script type="text/javascript" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/site/4.0/scripts/gigya.min.js"></script>

{% endblock js %}
