{% extends "fcc-base.html" %}{% load static from staticfiles %} {% load fccpublicfiles_extras %}
{% block pagetitle %}Political Buy {% if obj.advertiser %}for {{ obj.advertiser }}{% endif %} :: {{ obj.broadcasters.all|join:", " }}{% endblock pagetitle %}

{% block head %}
{{ block.super }}
{% comment %}
    Putting CSS here for testing/example purposes. Should go in fcc_main.css
    * Using tablesorter plugin for jQuery: http://mottie.github.com/tablesorter/
        provides sorting in table. th should have styles that make it appear clickable.
        We can rename the classes that the js adds (tablesorter-headerSortDown, etc.) via js config.
        "h:i A" or "g:i A" string format works for sorting on time

        This table needs better layout...
        Group by "show info" (name, timeslot start & end)
        and airing info? I'd say multiple tbodies, but I don't think
        tablesorter supports that in the way we want

        tablesorter pager plugin allows us to add a 'pager'
{% endcomment %}
<style type="text/css">
    table.sortable > thead th {
        font-weight: bold;
        color: #FF0000;
        cursor: pointer;
    }
    table.sortable > thead th:hover {
        font-weight: bold;
        color: #00FF00;
        cursor: pointer;
    }
    th.tablesorter-headerSortDown {

    }
    #buy-metadata > dt, #buy-metadata > dd {
        float: left;
        margin-right: 12px;
    }
</style>
{% endblock head %}

{% include "gigya_div.html" with gigya_url=obj.get_absolute_url %}
{% block content %}
    <div id="headerFloat" class="clearfix nofloat">
        <h2><small class="clearfix">Political Buy:</small> {{ obj.advertiser|default:"" }}</h2>
    </div>
    <div class="row module">
        <div id="buyData" class="span5">
            <dl class="moduleSm floatedList clearfix stationProfile">
                <dt>Stations:</dt>
                {% for broadcaster in obj.broadcasters.all %}
                <dd><a href="{% url broadcaster_politicalbuys_view callsign=broadcaster.callsign %}">{{ broadcaster.callsign }}, Channel {{ broadcaster.channel }}</a></dd>
                {% endfor %}
                <dt class="clear">Contract:</dt>
                <dd>{{obj.contract_number|default:"Unknown"}}</dd>
                <dt class="clear">Contract Dates:</dt>
                <dd>{{obj.contract_start_date}} - {{ obj.contract_end_date }}</dd>
                <dt class="clear">Total Spent:</dt>
                <dd>{% if obj.total_spent %}${{ obj.total_spent }}{% else %}Unknown{% endif %}</dd>
                <dt class="clear">Lowest unit price?:</dt>
                <dd>{{ obj.lowest_unit_price|yesno:"Yes,No,Unknown" }}</dd>
                <dt class="clear">Bought by:</dt>
                <dd>{{obj.bought_by|default:"Unknown" }}</dd>
                <dt class="clear">Number of Ad Spots:</dt>
                <dd>{{obj.num_spots_raw|default:"Unknown" }}</dd>
            </dl>
        </div>
        <div id="internalLinks" class="span2 sideCallout">
            <h4>More Information</h4>
            <ul class="unstyled">
                {% if obj.advertiser.fec_id != '' %}
                <li><p id='fec_id'><a href="http://reporting.sunlightfoundation.com/outside-spending/committee/{{obj.advertiser.name|slugify}}/{{ obj.advertiser.fec_id }}/">Follow the Unlimited Money Profile</a></p>
                {% else %}
                <li><p><a href="http://reporting.sunlightfoundation.com/outside-spending/search/?q={{obj.advertiser.name|urlencode}}">Search for {{obj.advertiser.name }}</a> on Follow the Unlimited Money</p>
                {% endif %}
                <li><p><a href="#original_document">Original Document</a></p>
            </ul>
        </div>
    </div>
    <div class="module">
        <h3>Ad Spots Purchased by {{ obj.advertiser|default:"" }}</h3>
        <a id="downloadBtn" class="btn clear" href="#">Download CSV</a>
        <div id="pager" class="pager clear">
            <span class="pagedisplay tip withTip"></span>
            <ul class="unstyled form-inline form-vertical pagerDetails clearfix">
                <li>
                    <label>Results per page</label>
                    <select class="pagesize">
                        <option value="10">10</option>
                        <option selected="selected" value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </li>
                <li id="btnFirst"><a href="#" class="first textReplace">First</a></li>
                <li id="btnPrev"><a href="#" class="prev textReplace">Prev</a></li>
                <li id="btnNext"><a href="#" class="next textReplace">Next</a></li>
                <li id="btnLast"><a href="#" class="last textReplace">Last</a></li>
            </ul>
        </div>
        {% if obj.politicalspot_set.all %}
        {% include '_politicalspots_table.html' with politicalspot_list=obj.politicalspot_set.all %}
        {% endif %}
    </div>
    <div class="row">
        <div class="span12">
            <h3 id="original_document">Original Document</h3>
            <div class="documentcloud_embed">
            {% include "doccloud/_documentcloud_embed.html" with document=obj.documentcloud_doc width=940 height=768 %}
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.widgets.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.tablesorter.pager.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sort_table.js' %}"></script>
	<script type="text/javascript" src="http://assets.sunlightfoundation.com.s3.amazonaws.com/site/4.0/scripts/gigya.min.js"></script>

{% endblock js %}
