{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block pagetitle %}Edit a Political Buy{% endblock pagetitle %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock head %}

{% block content %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% comment %}
    This page's view overrides the sidebar template in order to show the original document and a form on the same page.
    {% endcomment %}
    <div class="row">
        <div class="span4">
            <h2>Ad buy at {{obj.broadcasters_callsign_list|join:', ' }}</h2>
            <form class="form form-vertical" enctype="multipart/form-data" method="post" action=".">
                {% csrf_token %}
                <fieldset>
                    <legend>Essential Data</legend>
                    <ul>
                        <li class="input-append">
                            <label>{{form.advertiser.label}}</label>
                            {{form.advertiser}}
                            {{form.advertiser.errors}}
                        </li>
                        <li class="input-prepend">
                            <label>{{form.total_spent_raw.label}}</label>
                            <span class="add-on">$</span>{{form.total_spent_raw}}
                            {{form.total_spent_raw.errors}}
                        </li>
                        <li>
                            <label>{{form.num_spots_raw.label}}</label>
                            {{form.num_spots_raw}}
                            {{form.num_spots_raw.errors}}
                        </li>
                        <li>
                            <label>{{form.contract_start_date.label}}</label>
                            <input class="date" type="date" name="{{form.contract_start_date.html_name}}" value="{{form.contract_start_date.value|date:'Y-m-d'}}">
                            {{form.contract_start_date.errors}}
                        </li>
                        <li>
                            <label>{{form.contract_end_date.label}}</label>
                            <input class="date" type="date" name="{{form.contract_end_date.html_name}}" value="{{form.contract_end_date.value|date:'Y-m-d'}}">
                            {{form.contract_end_date.errors}}
                        </li>
                        <li>
                            <label>{{form.broadcasters.label}}</label>
                            {{form.broadcasters}}
                            {{form.broadcasters.errors}}
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Additional Data</legend>
                    <ul>
                        <li>
                            <label>{{form.contract_number.label}}</label>
                            {{form.contract_number}}
                            {{form.contract_number.errors}}
                        </li>
                        <li class="input-append">
                            <label>{{form.bought_by.label}}</label>
                            {{form.bought_by}}
                            {{form.bought_by.errors}}
                        </li>
                        <li class="input-append">
                            <label>{{form.advertiser_signatory.label}}</label>
                            {{form.advertiser_signatory}}
                            {{form.advertiser_signatory.errors}}
                        </li>
                        <li>
                            <label>{{form.lowest_unit_price.label}}</label>
                            {{form.lowest_unit_price}}
                            {{form.lowest_unit_price.errors}}
                        </li>
                    </ul>
                </fieldset>
                <ul>
                    <li>
                        <label>Let us know if you've entered all of the information from the document:</label>
                        <label class="tip checkbox">{{form.is_complete}} {{form.is_complete.label}}</label>
                        {{form.is_complete.errors}}
                    </li>
                    <li>
                        <button class="btn btn-sunlight" value="Submit">Submit</button>
                    </li>
                </ul>
            </form>
        </div>
        <div id="original_document" class="span8">
        {% if obj %}
        {% include "doccloud/_documentcloud_embed.html" with document=obj.documentcloud_doc width=620 height=760 %}
        {% endif %}
        </div>
    </div>
    <div class="row">
        {% if obj.politicalspot_set.all %}
        {% include '_politicalspots_table.html' with politicalspot_list=obj.politicalspot_set.all editable=1 %}
        {% endif %}
    </div>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('input[type=date]').datepicker({
                format: 'yyyy-mm-dd'
            });

            $('#id_advertiser').live('change', function(event) {
                log(event);
                var url = $('#add_id_advertiser_signatory').attr('href') + '?advertiser_id=' + $(this).val();
                $('#add_id_advertiser_signatory').attr('href', url);
            });
        });
    </script>
{% endblock js %}
