DEBUG = False
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

TIME_ZONE = 'US/Eastern'

MEDIA_ROOT = ''  # Keep blank if using S3BotoStorage
MEDIA_URL = '/media/'

STATIC_ROOT = ''  # Keep blank if using S3BotoStorage
STATIC_URL = '' # Set to url for S3 bucket.


SECRET_KEY = 'generateyourownsecretkey'

#EMAIL_HOST = ''
#EMAIL_HOST_PASSWORD = ''
#EMAIL_HOST_USER = ''
#EMAIL_PORT = ''

# For emails sent to admins or managers
EMAIL_SUBJECT_PREFIX = '[Political Ad Sleuth] '

SIGNUP_EMAIL_REPLY_TO = ''
# Tuple of extra fields to serialize and save in volunteers
SIGNUP_EXTRA_FIELDS = ()

DEFAULT_FILE_STORAGE = 'storages.backends.s3boto.S3BotoStorage'
STATICFILES_STORAGE = 'storages.backends.s3boto.S3BotoStorage'
AWS_QUERYSTRING_AUTH = False  # We don't want auth in the querystring
AWS_ACCESS_KEY_ID = ''
AWS_SECRET_ACCESS_KEY = ''
AWS_STORAGE_BUCKET_NAME = ''

DOCUMENTS_PATH = ''
DOCUMENTCLOUD_USERNAME = ''
DOCUMENTCLOUD_PASS = ''


FEATURED_BROADCASTER_STATE = 'NC'
STATES_GEOCENTERS_JSON_FILE = '../geodata/states_geocenters.json'

# Tuple of organization-advertiser ids for use in views, templates.
FEATURED_ADVERTISER_IDS = (1008, 1006, 1010)


TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET = ''
FACEBOOK_APP_ID = ''
FACEBOOK_API_SECRET = ''
FACEBOOK_EXTENDED_PERMISSIONS = ['email']

# django-passwords  https://github.com/dstufft/django-passwords
# These should be set to something better
PASSWORD_MIN_LENGTH = 6
PASSWORD_MAX_LENGTH = None
PASSWORD_DICTIONARY = None

GOOGLE_DOCS_ACCOUNT = ''
GOOGLE_DOCS_PASSWORD = ''
GOOGLE_DOCS_RESOURCE_ID = ''
