{% extends "fcc-base.html" %}{% load url from future %}

{% block pagetitle %}Password reset{% endblock pagetitle %}

{% block content %}
<h2>Password reset</h2>

<p>Forgotten your password? Enter the e-mail address associated with your account and we'll e-mail instructions for setting a new one.</p>

<form class="form" action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<ul>
    <li><label for="id_email">E-mail address:</label> {{ form.email }}</li>
    <li><input type="submit" class="btn" value="Reset my password" /></li>
</ul>
</form>
{% endblock %}