h1 {
    margin-bottom: 20px;
}

#map_canvas { height: 100% }
#address_thingy {
    margin-bottom: 10px;
}


form#map_form > label {
    margin-right: 15px;
}

#map-box {
    position: relative;
    display: block;
    width: 100%;
    height: 600px;
}

.postal-address p {
    font-size: 92%;
    line-height: 105%;
    margin-bottom: 3px;
}

.broadcasters #map-box {
    position: relative;
    display: block;
    float: left;
    width:640px;
    height: 480px;
    margin-right: 20px;
}

.broadcasters #stations {
    width: 280px;
    float: right;
    background-color: #FFF;
}

ul#locations {
    height: 560px;
    overflow-y: scroll;
    list-style-type: none;
    margin: 0px;
}


#locations li {
    padding: 7px;
    border-bottom: 1px solid #EFEFEF;
}

#locations li.even {
    background-color: #FBFBFB;
}

#locations h3 {
    font-size: 120%;
    line-height: 105%;
    margin-bottom: 5px;
}