.invalid { border-color: #E9322D; }

#map_canvas { height: 100% }

form#map_form > input, form#map_form > label {
    margin-right: 10px;
}

#map-box {
    position: relative;
    display: block;
    width: 100%;
    height: 600px;
}

.broadcaster-detail #map-box {
    width:50%;
    height: 300px;
}

p.distance {
    color: #65befe;
}

#map-box {
    position: relative;
    display: block;
    width:100%;
    height: 536px;
    margin-right: 20px;
}

/*.broadcasters-featured #map-box {
    height: 400px;
}
*/

/*.broadcasters-featured ul#locations {
    height:350px;
}*/

ul#locations {
    height: 536px;
    overflow-y: scroll;
    list-style-type: none;
    margin: 0px;
}

form p {
    margin: 6px 0;
}

fieldset {
    margin-bottom: 1em;
}

fieldset legend {
    font-size: 120%;
    margin: 0 0 8px;
}

#action_signup.form-inline input {
    margin-right: 25px;
}

input#address { width: 276px;}

.featureImg { margin-top: 180px; float: right; margin-right: 20px; }

#freepress { background: url(../img/logo_freepress.png) top left no-repeat; width: 118px; height: 40px; }
#newAmerica { background: url(../img/logo_newAmerica.png) top left no-repeat; width: 156px; height: 28px; margin-top: 10px;}
#sponsorLogos { float: right; margin-top: -90px;}