{% extends "fcc-base.html" %}{% load static from staticfiles %}
{% block bodyclass %}broadcaster-detail{% endblock bodyclass %}
{% block pagetitle %}{{ obj.broadcaster.callsign }} {% endblock pagetitle %}
{% block content %}
    <h2>{{ obj.broadcaster.callsign }} {{ obj.broadcaster.channel }} {{ obj.broadcaster.network_affiliate }}</h2>
    <div class='broadcaster-info'>
        <p>Nielsen Designated Market Area:  {{ obj.broadcaster.nielsen_dma }}</p>
    </div>
    <div class="postal-address">
        {% if obj.address.address1 %}<p class="street">{{ obj.address.address1|title }}</p>{% endif %}
        {% if obj.address.address2 %}<p class="street">{{ obj.address.address2|title  }}</p>{% endif %}
        <p><span class="city">{{ obj.address.city|title  }}</span>, <span class="state">{{ obj.address.state }}</span> <span class="zipcode">{{ obj.address.zipcode }}</span></p>
    </div>
    {% comment %}
    {% for bca in broadcaster.broadcasteraddress_set.all %}
    <div class="postal-address">
        <p>{{ bca.label.name }}</p>
        {% if bca.address.address1 %}<p class="street">{{ bca.address.address1|title }}</p>{% endif %}
        {% if bca.address.address2 %}<p class="street">{{ bca.address.address2|title  }}</p>{% endif %}
        <p><span class="city">{{ bca.address.city|title  }}</span>, <span class="state">{{ bca.address.state }}</span> <span class="zipcode">{{ bca.address.zipcode }}</span></p>
    </div>
    {% endfor %}
{% endcomment %}
    <div id="map-box">
        <div id="map_canvas" style="width:100%; height:100%"></div>
    </div>
{% endblock content %}

{% block head %}
    {{ block.super }}
    {% include "fccpublicfiles/_googlemaps_script_include.html" %}
{% endblock head %}

{% block js %}
    {{ block.super }}
    <script>
        var startPos = [{{ obj.address.lng }},{{ obj.address.lat }}];
        var initialLocations = [
            {% include "fccpublicfiles/_broadcaster_obj.json" with obj=obj %}
        ];
        var userMarker_url = "{% static 'img/sll_map_marker_purple.png' %}";
        var stationMarker_url = "{% static 'img/sll_map_marker_blue.png' %}";
    </script>
    <script src="{% static 'js/map_stations.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock js %}