<p>Thanks for signing up to be a Political Ad Sleuth, {{ profile.first_name }}!</p>
<p>Create an account now so you can begin contributing files and enterting data! You have two choices:</p>
<ul>
    <li>Sign in with <a id="tweetBtn" href="{% url socialauth_begin 'twitter' %}"><strong>Twitter</strong></a> or <a id="fbBtn" href="{% url socialauth_begin 'facebook' %}"><strong>Facebook</strong></a></li>
    <li><a href="{% url register_volunteer %}"><strong>Register an account</strong></a> on Political Ad Sleuth.</li>
</ul>
