{% extends "fcc-base.html" %}

{% block pagetitle %}Edit your profile{% endblock pagetitle %}

{% block content %}
    <h2>Edit your profile</h2>

	{% if form.errors %}
    <div class="messages alert fade in">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <ul>
            <li class="failure">Not Saved! Please fix errors in these fields: {% for field in form %}
				{% if field.errors %}{{ field.label }}; {% endif %}
				{% endfor %}
			</li>
        </ul>
    </div>
    {% endif %}


	{% if form.errors %}
	Your changes couldn't be saved--please fix errors in these fields:
	<span id="form-error">
		{% for field in form %}
		{% if field.errors %}{{ field.label }}{% if forloop.last %}{% else %},{% endif %}{% endif %}
		{% endfor %}
	</span>
	{% endif %}
	
    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}
        <fieldset class="module">
            <legend>Your account profile</legend>
            <ul class="control-group">
                <li>
                    {{ form.username.errors }}
                    <label class="control-label" for="id_username">Username</label>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li>
                    <label class="control-label" for="id_first_name">First name</label>
                    {{ form.first_name }}
                    {% for error in form.first_name.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li>
                    <label class="control-label" for="id_phone">Last name</label>
                    {{ form.last_name }}
                    {% for error in form.last_name.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li>
                    <label class="control-label" for="id_email">Email</label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li>
                    <label class="control-label" for="id_phone">Phone Number</label>
                    {{ form.phone }}
                    {% for error in form.phone.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li>
                    <label for="notify" class="tip asInput checkbox inline control-label">{{ form.notify }} Receive email updates from Political Ad Sleuth</label>
                    {% for error in form.notify.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
            </ul>
        </fieldset>
        <fieldset class="module">
            <legend>Change your password</legend>
            <p class="tip">{{ form.new_password.help_text }}</p>
            {% if not request.user.has_usable_password %}
                <div class="alert">
                    <p><strong>Warning!</strong> You do not have a password set for this account. We recommend setting a new password in case your associated accounts become disconnected.</p>
                </div>
            {% else %}
                <ul>
                        <li class="elementWithLine">
                            <label class="control-label" for="id_old_password">Current password</label>
                            {{ form.old_password }}
                            {% for error in form.old_password.errors %}
                            <span class="errorlist help-inline">{{error}}</span>
                            {% empty %}
                            {% endfor %}
                        </li>
                    {% endif %}
                    <li>
                        <label class="control-label" for="id_new_password">New password</label>
                        {{ form.new_password }}
                        {% for error in form.new_password.errors %}
                        <span class="errorlist help-inline">{{error}}</span>
                        {% empty %}
            
                        {% endfor %}
                    </li>
                    <li>
                        <label class="control-label" for="id_new_password_confirm">Confirm New password</label>
                        {{ form.new_password_confirm }}
                        {% for error in form.new_password_confirm.errors %}
                        <span class="errorlist help-inline">{{error}}</span>
                        {% empty %}
                    </li>
                </ul>
            {% endfor %}

        </fieldset>
        <fieldset>
            <legend>About You</legend>
            <ul class="control-group">
                <li>
                    <label class="control-label" for="id_city">City</label>
                    <input type="text" name="{{ form.city.html_name }}" value="{{ form.city.value }}" maxlength="20" placeholder="City" id="city">
                    {% for error in form.city.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li>
                    <label class="control-label" for="id_state">State</label>
                    {{ form.state }}
                    <p class="help-block">{{ form.state.help_text }}</p>
                    {% for error in form.state.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li>
                    <label class="control-label" for="id_zipcode">Your zipcode</label>
                    {{ form.zipcode }}
                    {% for error in form.zipcode.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li>
                    <label class="control-label" for="id_is_a">What best describes your role?</label>
                    {{ form.is_a }}
                    {% for error in form.is_a.errors %}
                    <span class="errorlist help-inline">{{error}}</span>
                    {% endfor %}
                </li>
                <li class="bottomBtn">
                    <button class="btn btn-sunlight" type="submit">Save Changes</button>
                </li>
            </ul>
        </fieldset>
    </form>
{% endblock content %}

{% block sidebar %}
        <h3>Associated Accounts</h3>
        <ul class="unstyled" id="associated">
            <li>
                {% if social_auth.twitter %}
                    <a class="btn btn-warning" href="{% url socialauth_disconnect 'twitter' %}">Unlink Your Twitter Account</a>
                {% else %}
                    <a class="btn" href="{% url socialauth_associate_begin 'twitter' %}">Link Your Twitter Account</a>
                {% endif %}
            </li>
            <li>
                {% if social_auth.facebook %}
                    <a class="btn btn-warning" href="{% url socialauth_disconnect 'facebook' %}">Unlink Your Facebook Account</a>
                {% else %}
                    <a class="btn" href="{% url socialauth_associate_begin 'facebook' %}">Link Your Facebook Account</a>
                {% endif %}
            </li>
        </ul>
{% endblock %}
