{% extends "fcc-base.html" %}

{% block pagetitle %}Create your profile{% endblock pagetitle %}

{% block content %}
    <h2>Create your profile</h2>
    <form action="." method="post" class="form-vertical">
        {% csrf_token %}
        <fieldset>
            <legend>Your account profile</legend>
            <ul>
                <li>
                    {{ form.username.errors }}
                    <label for="id_username">Username</label>
                    {{ form.username }}
                </li>
                <li>
                    {{ form.first_name.errors }}
                    <label for="id_first_name">First name</label>
                    {{ form.first_name }}
                </li>
                <li>
                    {{ form.last_name.errors }}
                    <label for="id_phone">Last name</label>
                    {{ form.last_name }}
                </li>
                <li>
                    {{ form.email.errors }}
                    <label for="id_email">Email</label>
                    {{ form.email }}
                </li>
                <li>
                    {{ form.phone.errors }}
                    <label for="id_phone">Phone Number</label>
                    {{ form.phone }}
                </li>
                <li>
                    {{form.notify.errors }}
                    <label for="notify" class="tip asInput checkbox">{{ form.notify }} Receive email updates from Political Ad Sleuth</label>
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>About You</legend>
            <ul>
                <li>
                    <label>City</label>
                    <input type="text" name="{{ form.city.html_name }}" value="{{ form.city.value }}" maxlength="20" placeholder="City" id="city">
                      {{ form.city.errors }}
                </li>
                <li>
                    {{ form.state.errors }}
                    <label for="id_state">State (where you can collect files)</label>
                    {{ form.state }}
                </li>
                <li>
                    {{ form.zipcode.errors }}
                    <label for="id_zipcode">Your zipcode</label>
                    {{ form.zipcode }}
                </li>
                <li>
                    {{ form.is_a.errors }}
                    <label for="id_is_a">What best describes your role?</label>
                    {{ form.is_a }}
                </li>
                <li>
                    <button class="btn btn-sunlight" type="submit">Create Account</button>
                </li>
            </ul>
        </fieldset>
    </form>
{% endblock content %}