{% extends "fcc-base.html" %} {% load search_extras %}

{% block pagetitle %}Search{% if query %}: "{{query}}"{% endif %}{% endblock pagetitle %}


{% block content %}
<div class="row">
    <div class="span12">
	{% if query %}
		<h2 id="resultsTitle">Search Results for: <span>&#8220;{{query}}&#8221;</span></h2>
	{% else %}
		<h2 id="resultsTitle">Advanced Search</h2>
         <form method="get" action="." class='form'>
             <ul>
                 {% for field in form %}
                 <li>
                     <label>{{field.label}}</label>
                     {{field}}
                     {{field.errors}}
                 </li>
                 {% endfor %}
                 <li>
                     <input class='btn btn-sunlight' type="submit" value="Search">
                 </li>
             </ul>
         </form>
	{% endif %}
    </div>
</div>
{% if query %}
<div class="row">
    <div class="span3">
        <h4>Narrow your search</h4>

        {% if facets %}
            {% for key, value in facets.fields.items %}
                <ul class="unstyled withLine">
                    <li>
                        <h5>{{key|replace:'_, '|title}}</h5>
                        <ul class='unstyled'>
                {% for item in value %}
                            <li><a href="{% url haystack_search %}?q={{query}}{% for key, value in selected_facets.items %}&amp;selected_facets={{key}}:{{ value|urlencode }}{% endfor %}{% if item.0 not in selected_facets.values %}&amp;selected_facets={{key}}_exact:{{ item.0|urlencode }}{% endif %}">{{ item.0 }}</a> <span class="resultCount">({{ item.1 }})</span></li>{% endfor %}
                        </ul>
                    </li>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
    </div>
    <div id="searchResults" class="span8 offset1">
        {% if selected_facets %}
            <div id="filterBox">
                <span><strong>Your Selections:</strong></span>
                <ul class="unstyled">
                    {% for key, value in selected_facets.items %}
                    <li>
                        <a class="closeBtn textReplace" href="{% url haystack_search %}?q={{query}}{% for k, v in selected_facets.items %}&amp;selected_facets={{k}}:{{ v|urlencode }}{% endfor %}">Remove</a>
{# No idea why, but the key for 'State' get's truncated to 's'. Should fix this for real, but...  #}
                        <strong>{% ifequal key 's' %}State{% else %}{{key|replace:'_, '|title}}{% endifequal %}</strong>: {{value}} </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if query %}
            <table class="table table-striped ">
                <thead>
                    <tr><th>File</th>
                        <th>Advertiser</th>
                        <th>Station</th>
                        <th>Date</th>
                        <th>City, State</th>
						<th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in page.object_list %}
                    <tr>
	<td>{% if result.object.related_FCC_file %}<a href="{{ result.object.get_absolute_url }}">{{ result.object.related_FCC_file }}</a>{% endif %}</td>
                        <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.advertiser_display }}</a></td>
                        <td>{{ result.object.station_display }}</td>
                        <td>{{ result.object.date_display }}</td>
                        <td>{{ result.object.citystate_display}}</td>
						<td>{{ result.object.doc_status }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>No results found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="{% url haystack_search %}?q={{ query }}{% for key, value in selected_facets.items %}&amp;selected_facets={{key}}:{{ value|urlencode }}{% endfor %}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="{% url haystack_search %}?q={{ query }}{% for key, value in selected_facets.items %}&amp;selected_facets={{key}}:{{ value|urlencode }}{% endfor %}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}


    </div>
</div>
{% endif %}
{% endblock %}
