{% extends "fcc-base.html" %} {% load search_extras %}

{% block pagetitle %}Search{% if query %}: "{{query}}"{% endif %}{% endblock pagetitle %}


{% block content %}
<div class="row">
    <div class="span12">
        <h2>Search Results for{% if query %}: "{{query}}"{% endif %}</h2>
    </div>    
</div>    
<div class="row">
    <div class="span3">
        <h3>Narrow your search</h3>
       
        {% if facets %}
            {% for key, value in facets.fields.items %}
                <div>
                    <h5>{{key|replace:'_, '|title}}</h5>
                    <ul class='unstyled'>
            {% for item in value %}
                    <li><a href="{% url haystack_search %}?q={{query}}{% for key, value in selected_facets.items %}&amp;selected_facets={{key}}:{{ value|urlencode }}{% endfor %}{% if item.0 not in selected_facets.values %}&amp;selected_facets={{key}}_exact:{{ item.0|urlencode }}{% endif %}">{{ item.0 }}</a> ({{ item.1 }})</li>{% endfor %}
                </ul>
            </div>
            <ul class="unstyled">

            </ul>
        {% endfor %}
    {% endif %}
    </div>
    <div class="span9">
        {% if selected_facets %}
            <h3>Filters</h3>
            <ul>
                {% for key, value in selected_facets.items %}
                <li><strong>{{key|replace:'_, '|title}}</strong>: {{value}} (<a href="{% url haystack_search %}?q={{query}}{% for k, v in selected_facets.items %}{% if k != key %}&amp;selected_facets={{k}}:{{ v|urlencode }}{% endif %}{% endfor %}">Remove</a>)</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if query %}
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Station</th>
                        <th>Date</th>
                        <th>City, State</th>
                    </td>    
                </thead> 
                <tbody>   
                    {% for result in page.object_list %}
                    <tr>
                        <td>{{ result.object.advertiser_display }}</td>
                        <td>{{ result.object.station_display }}</td> 
                        <td>{{ result.object.date_display }}</td> 
                        <td>{{ result.object.citystate_display}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>No results found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="{% url haystack_search %}?q={{ query }}{% for key, value in selected_facets.items %}&amp;selected_facets={{key}}:{{ value|urlencode }}{% endfor %}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="{% url haystack_search %}?q={{ query }}{% for key, value in selected_facets.items %}&amp;selected_facets={{key}}:{{ value|urlencode }}{% endfor %}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
        {% if not query %}
            <form method="get" action="." class='form'>
                <ul>
                    {% for field in form %}
                    <li>
                        <label>{{field.label}}</label>
                        {{field}}
                        {{field.errors}}
                    </li>
                    {% endfor %}
                    <li>
                        <input class='btn btn-sunlight' type="submit" value="Search">
                    </li>
                </ul>
            </form>
        {% endif %}
       
    </div>
</div>    
{% endblock %}
