{% extends "fcc-base.html" %}
{% block pagetitle %}Your Dashboard{% endblock pagetitle %}

{% block content %}
    {% if messages %}
    <div class="messages alert fade in">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <ul>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="row">
        <div class="span9">
            <div id="state_broadcasters" class="module">
                {% if not profile or not profile.state %}
                    <p>Please <a href="{% url edit_profile %}">fill out your profile</a>, including your city, state and zipcode so we can show you stations in your state!</p>
                {% else %}
                    <h3>What's Happening Around You</h3>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Broadcaster</th>
                                    <th>Number of Political Ad Buys</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for broadcaster in broadcaster_list %}
                                <tr>
                                    <td>{{ broadcaster }}</td>
                                    <td><a href="{% url broadcaster_politicalbuys_view broadcaster.callsign %}">{{ broadcaster.politicalbuy_set.count}} files</a></td>
                                    {% empty %}
                                        <td>No broadcasters found for this state.</td>
                                    {% endfor %}
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>   
                    {% comment %}  Map on this page?
                        <section id="map">
                            {% include "broadcasters/_map_searchform.html" %}
                        </section>
                    {% endcomment %}
                
            </div>
            <div id="user_contributions" class="module">
                <h3>Your contributions</h3>
                {% if politicalbuy_list %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Last Modified</th>
                            <th>Station(s)</th>
                            <th>Advertiser</th>
                            <th># Spots</th>
                            <th>$ Spent</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for politicalbuy in politicalbuy_list %}
                        <tr class="{% if politicalbuy.is_public %}live{% else %}not-live{% endif %}">
                            <td class="{{ politicalbuy.is_public|yesno:'Approved,Unapproved,Unknown'|title }} tip">{{ politicalbuy.is_public|yesno:'Approved,Unapproved,Unknown'|title }}</td>
                            <td>{% if politicalbuy.updated_at %}{{ politicalbuy.updated_at|date:"SHORT_DATETIME_FORMAT" }}{% else %}Unknown{% endif %}</td>
                            <td>{{ politicalbuy.broadcasters.all|join:", " }} {{ politicabuy.created_at }}</td>
                            <td>{{ politicalbuy.advertiser|default:'Unknown' }}</td>
                            <td>{{ politicalbuy.total_num_spots|default:'Unknown' }}</td>
                            <td>{% if politicalbuy.total_spent %}${{ politicalbuy.total_spent }}{% else %}Unknown{% endif %}</td>
                            <td><a href="{% url politicalbuy_edit uuid_key=politicalbuy.uuid_key %}" title="Edit data for '{{ politicalbuy.documentcloud_doc }}'">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>We do not currently have any submissions associated with your account. Submit a political file document to get started!</p>
                {% endif %}
            </div>
        </div>
        <div class="span3">
            <section class="module boxCallout">
                <h4 class="withTip">Submit Discovered Files</h4>
                <p class="tip">Go to a station and want to upload the files? Upload them now!</p>
                <a class="btn" href="/political-files/submit/">Upload</a>
            </section>    
            <section id="profile" class="module">
                <h3>About you</h3>
                <dl class="pushInward">
                    <dt>Username:</dt>
                    <dd class="elementWithLine">{{ user.username }}</dd>

                    <dt>First Name:</dt>
                    <dd class="elementWithLine">{{user.first_name }}</dd>

                    <dt>Last Name:</dt>
                    <dd class="elementWithLine">{{user.last_name }}</dd>

                    <dt>Email:</dt>
                    <dd class="elementWithLine">{{user.email }}</dd>

                    {% if profile %}
                        <dt>City:</dt>
                        <dd class="elementWithLine">{{ profile.city|default:"Not specified" }}</dd>

                        <dt>State:</dt>
                        <dd class="elementWithLine">{{ profile.state }}</dd>
                    {% endif %}
                </dl>
                <a class="btn" href="{% url edit_profile %}">Edit profile</a>
            </section>
            <section>
                <h3>Resources</h3>
                {% include "snippets/_resources_list.html" %}
            </section>
        </div>
    </div>
{% endblock content %}



{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery(document).ready(function($) {

        });
    </script>
{% endblock js %}
